<p>This is a movie-route test.</p>
<p>movie 3 must {{{movie}}}</p>
<p>movie 2 must {{movie}}</p>
<p>movie.title 3 must {{{movie.title}}}</p>
<p>movie.title 2 must {{movie.title}}</p>
<p>title 3 must {{{title}}}</p>
<p>title 2 must {{title}}</p>